.idea/
resources/blockchain/node_modules/
resources/blockchain/build/
snetd.db
snetd.config.json
/vendor/
blockchain/agent.go
blockchain/multi_party_escrow.go
/build/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim temporary files
*~
*.swp
*.swo
