version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9-node
    working_directory: /go/src/github.com/singnet/snet-daemon
    environment:
      TRIGGER_BUILD_BRANCH: master
    steps:
      - checkout
      - run:
          name: "Create a temp directory for artifacts"
          command: |
          mkdir -p /tmp/artifacts
      - run:
          name: Install dependencies
          command: |
            # install protobuf
            sudo apt-get install protobuf-compiler
            # install golint
            sudo apt-get install golint
      - run:
          name: Run install script
          command: ./scripts/install
      - run:
          name: Run build script
          command: ./scripts/build linux amd64
      - run:
          name: Run test script
          command: |
           ./scripts/test
           go tool cover -html=c.out -o coverage.html
           mv coverage.html /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts
      - run:
          name: Trigger platform-pipeline build
          command: |
            if [ "$CIRCLE_BRANCH" == "$TRIGGER_BUILD_BRANCH" ]
            then
              curl -u ${CIRCLECI_PLATFORM_PIPELINE_TOKEN}: \
                -d build_parameters[CIRCLE_JOB]=build \
                -d build_parameters[PARENT_PROJECT_REPONAME]="$CIRCLE_PROJECT_REPONAME" \
                -d build_parameters[PARENT_BRANCH]="$CIRCLE_BRANCH" \
                -d build_parameters[PARENT_BUILD_URL]="$CIRCLE_BUILD_URL" \
                https://circleci.com/api/v1.1/project/github/singnet/platform-pipeline/tree/${TRIGGER_BUILD_BRANCH}
            fi
