name: build
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master", "dev" ]
  workflow_dispatch:

env:
  GOLANG_PROTOBUF_REGISTRATION_CONFLICT: ignore

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: clone repo
        uses: actions/checkout@v3

      - name: download and install
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'

      - name: install protoc (protobuf)
        uses: arduino/setup-protoc@v3
        with:
          version: "29.3"
          include-pre-releases: false

      - name: chmod +x
        run: chmod +x ./scripts/install_deps && chmod +x ./scripts/build

      - name: install dependencies
        run: ./scripts/install_deps

      - name: build linux
        run: ./scripts/build linux amd64 dev

      - name: build darwin
        run: ./scripts/build darwin amd64 dev

      - name: build windows
        run: ./scripts/build windows amd64 dev
