name: test
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read  # for GITHUB_TOKEN
    steps:
      - name: clone repo
        uses: actions/checkout@v4.3.0

      - name: download and install
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.7'

      - name: install protoc (protobuf)
        uses: arduino/setup-protoc@v3
        with:
          version: "33.5"
          include-pre-releases: false
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: chmod to allow run script
        run: chmod +x ./scripts/install_deps

      - name: install dependencies
        run: ./scripts/install_deps

      - name: go tests
        env:
          SNET_ETHEREUM_JSON_RPC_HTTP_ENDPOINT: ${{secrets.ETH_JSON_HTTP_ENDPOINT}}
        run: go test -v ./...
